<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="Numpy" version="3.7.1.28" targetFramework="net48" />
  <package id="OpenCvSharp4" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenCvSharp4.Windows" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.5.20211231" targetFramework="net48" />
  <package id="Python.Deployment" version="1.2.0" targetFramework="net48" />
  <package id="Python.Included" version="3.7.3.13" targetFramework="net48" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Xabe.FFmpeg" version="5.2.0" targetFramework="net48" />
  <package id="Xabe.FFmpeg.Downloader" version="5.2.0" targetFramework="net48" />
</packages>